body {
  background: #acdae5 url("0.png") no-repeat 0 0;
  color: #222;
  font-size: 14px;
  border: 1px solid #acdae5;
}
body .todo {
  width: 600px;
  min-width: 500px;
  margin: 0 auto;
}
body .todo h1 {
  text-align: center;
  margin: 20px 0;
}
body .todo .inputs {
  text-align: center;
  margin-top: 20px;
}
body .todo .inputs .input {
  display: inline-block;
  width: 410px;
  margin-right: 20px;
}
body .todo .inputs .button {
  float: right;
  right: 40px;
}
body .list {
  width: 512px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  line-height: 1.5;
}
body .list .list-item {
  display: flex;
  justify-content: space-between;
}
